p {
  color: red;
  font-size: 18px;
}

.parrafoverde {
  text-align: center;
  color: green;
  font-style: italic;
}

h1 {
  text-align: justify;
  font-size: 80px;
  color: orange;
}
body {
  background-image: url(img/leon.jpg);
  background-size: 500px;
  background-repeat: no-repeat;
}
img {
  width: 100px;
  height: 100px;
}
.panda {
  list-style-image: url(img/panda.jpg);
  list-style-image: 2px;
  background-repeat: no-repeat;
}
